* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: blue;
}

body {
    margin: auto;
    font-family: sans-serif;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 16px 16px;
    z-index: 100;
}

.perfil-padre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.perfil-hijo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.foto-perfil {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.saludo h2 {
    font-size: 20px;
    font-weight: 400;
    color: #dbe4ff;
}

.saludo h1 {
    font-size: clamp(20px, 5vw, 30px);
    font-weight: 600;
    color: #ffffff;
    line-height: 1.1;
}

.notificaciones-padre {
    display: flex;
    justify-content: center;
}

.notificaciones-hijo {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    transition: transform 0.2s ease;
}

.notificaciones-hijo:active {
    transform: scale(0.9);
}

.campana {
    width: 20px;
}

.busqueda {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}


.input-busqueda {
    flex: 1;
    height: 41px;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: transform 0.2s ease;
}

.input-busqueda:focus {
    transform: scale(1.05);
}

.filtrar {
    width: 45px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: white;
    transition: transform 0.2s ease;
}

.filtrar:active {
    transform: scale(0.9);
}

.filtro {
    width: 20px;
}

